include LICENSE.txt
include pylodsmsgpackc/include/MsgpackDictionary.h
include libs/pylodsc/include/Dictionary.h
include libs/pylodsc/include/PyDictionary.h
include libs/pylodsc/include/pylodsc.h
include libs/pylodsc/include/pylodscapi.h